<article class='w-21'>
  <h2>The tale of another dot.</h2>
  <p>Monday, October 23, 2023</p>
  <section class='_p-0 _m-0 _w-100'>
    <p>Once upon the same time, there was another dot</p>
  </section>
</article>