<article class='w-21'>
  <h2>The tale of a dot.</h2>
  <p>Friday, October 20, 2023</p>
  <section class='_h-100vh relative _p-0 _m-0 _w-100'>
    <p class='text-r'>Once upon a time, there was a dot<span
        class='dot'
      >.</span>
    </p>
    <p class='text-r mt--2'>tired and alone<span class='invisible'>.</span></p>
  </section>
</article>