{{page-title "Gabriel Florit"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{! <WelcomePage /> }}
{{!-- Feel free to remove this! --}}
<h1>Gabriel Florit</h1>

<h4>Welcome to my home page</h4>
<h6>Last updated Friday, October 10, 2023</h6>

<ul>
  <li>Coming soon</li>
</ul>

{{outlet}}