{{page-title 'Gabriel Florit'}}

<header>
  <h1>Gabriel Florit</h1>
  {{! <nav> }}
  {{!   <a href='#'>one</a> }}
  {{!   <a href='#'>two</a> }}
  {{!   <a href='#'>three</a> }}
  {{! </nav> }}
</header>

<main>
  <article>
    <h2>The tale of a dot.</h2>
    <p>Friday, October 10, 2023</p>
    <section>
      <p>Once upon a time, there was a dot.</p>
      <p></p>
    </section>

  </article>
</main>

{{! <footer> }}
{{!   <p>footer</p> }}
{{! </footer> }}

{{! The following component displays Ember's default welcome message. }}
{{! <WelcomePage /> }}
{{! Feel free to remove this! }}

{{outlet}}