<header>
  <h1>
    <LinkTo @route='index'>
      Gabriel Florit
    </LinkTo>
  </h1>
  {{! <nav> }}
  {{!   <a href='#'>one</a> }}
  {{!   <a href='#'>two</a> }}
  {{!   <a href='#'>three</a> }}
  {{! </nav> }}
</header>

{{outlet}}

<footer>
  <p>To be continued.</p>
</footer>